<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983590018492-5lq39ud5jr6pm6cmpgc9ui6pj803qj1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983590018492-5lq39ud5jr6pm6cmpgc9ui6pj803qj1l</string>
	<key>API_KEY</key>
	<string>AIzaSyD1dcVicPzvmNTQuAgnSYiDPdnS4M_8jlw</string>
	<key>GCM_SENDER_ID</key>
	<string>983590018492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mercadofresco.mercadoFresco</string>
	<key>PROJECT_ID</key>
	<string>proyecto-primera-pagina</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-primera-pagina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983590018492:ios:b947a1c1ec763052019fb9</string>
</dict>
</plist>